/** 公共属性 **/
:root {
  /* 动画过渡 */
  --transition-time-main: $transition-time-main;
  /* 组件大小的高度 */
  --size-large: 40px;
  --size-default: 32px;
  --size-small: 24px;
  --disabled-bg: #f5f7fa;
}
// 语法示例
// .css-var-demo {
//   width: calc(var(--base-size) * 5); // 乘法
//   // 下列的sass写法和css原生写法是等价的
//   // $bg-darker: color.mix($nav-bg-dark-heavy, #000000, 50%);
//   // $bg-darkest: color.mix($nav-bg-dark-heavy, #000000, 0.01%);
//   // 矩形颜色空间。srgb、srgb-linear、lab、oklab、xyz、xyz-d50、xyz-d65。
//   // 极性颜色空间 。hsl、hwb、lch、oklch。
//   // $bg-darker: color-mix(in srgb, var(--nav-bg-dark-heavy) 100%, #000000 50%);
//   // $bg-darkest: color-mix(in srgb, var(--nav-bg-dark-heavy) 100%, #000000 0.01%);
// }
