@font-face {
  font-family: YouSheBiaoTiHei;
  src: url("./font/YouSheBiaoTiHei.ttf");
}

@font-face {
  font-family: MetroDF;
  src: url("./font/MetroDF.ttf");
}

@font-face {
  font-family: DIN;
  src: url("./font/DIN.Otf");
}
