/**
* 覆盖重写element-plus样式（后面添加的）
*/

.el-overlay-dialog {
  overflow: hidden;
}

// 菜单（menu)
// .el-menu-item.is-active {
//   color: $color-primary;
// }
// .el-menu--horizontal > .el-menu-item.is-active {
//   color: $color-primary !important;
//   border-bottom: 2px solid $color-primary;
// }

//表格（form)
// $thead-bg: $color-bg-light;
// .el-table th.el-table__cell {
//   background: $thead-bg;
// }
// .el-table.is-scrolling-none th.el-table-fixed-column--left,
// .el-table.is-scrolling-none th.el-table-fixed-column--right {
//   background: $thead-bg;
// }
// .el-table__header-wrapper tr th.el-table-fixed-column--right {
//   background: $thead-bg;
// }
// .el-table.is-scrolling-left th.el-table-fixed-column--left {
//   background: $thead-bg;
// }
// .el-table.is-scrolling-right th.el-table-fixed-column--right {
//   background: $thead-bg;
// }
// .el-table__header-wrapper tr th.el-table-fixed-column--left,
// .el-table__header-wrapper tr th.el-table-fixed-column--right {
//   background: $thead-bg;
// }
.el-button + .el-button {
  margin-left: $gap-half;
}

.el-table {
  .el-table__cell.sort-cell {
    cursor: move;
  }
}

/**
* 处理  input 设置了clearable， focus的时候，输入框宽度会变成长的样式问题
* @link 参照：https://blog.csdn.net/supming1/article/details/130074905
*/
.el-input__wrapper {
  position: relative;
  .el-input__inner {
    padding-right: 18px;
  }
  .el-input__suffix {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.el-popconfirm__main {
  width: max-content;
}

.color-primary {
  color: $color-primary;
}
.color-success {
  color: $color-success;
}
.color-danger {
  color: $color-danger;
}
.color-warning {
  color: $color-warning;
}
.color-info {
  color: $color-info;
}

.q-page-view {
  height: 100%;
  width: 100%;
  padding: $gap-half;
  background: #fff;
  overflow: auto;
  border-radius: $radius-main;
}
